/* Root styles */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  /* Text */
  --color-text-subheading: hsl(276, 100%, 81%);
  --color-text-chat-left: hsl(276, 55%, 52%);
  --color-text-chat-right: hsl(270, 7%, 64%);
  --color-text-placeholder: hsla(206, 7%, 79%, 0.742);
  --color-text-heading: hsl(271, 36%, 24%);
  --color-text-paragraph: hsl(0, 1%, 62%);
  --color-text-white: hsla(0, 0%, 100%, 0.801);

  /* Backgrounds */
  --color-bg-chat-left: hsla(276, 100%, 81%, 0.13);
  --color-bg-chat-right: hsl(0, 100%, 100%);
  --color-bg-app: hsl(270, 20%, 96%);
  --color-bg-submit-button: hsl(271, 36%, 24%);
  --color-bg-white: hsl(0, 100%, 100%);

  /* Borders */
  --color-outline-radio: hsl(289, 100%, 72%);

  /* Gradients */
  --color-gradient-start-primary: hsl(293, 100%, 63%);
  --color-gradient-end-primary: hsl(264, 100%, 61%);

  /* Font size */
  --font-chat-normal: clamp(0.4rem, calc(0.4rem + 0.2vw), 0.5rem);
  --font-chat-large: clamp(0.6rem, calc(0.6rem + 0.2vw), 0.7rem);
  --font-main-normal: clamp(0.7rem, calc(0.7rem + 0.5vw), 1rem);
  --font-main-large: clamp(1.5rem, calc(1.5rem + 1vw), 2.5rem);
}

body {
  display: grid;
  grid-template:
    "main" 1fr
    "footer" auto / 1fr;
  justify-content: center;
  min-height: 100vh;

  /* Font */
  font-family: "Rubik", sans-serif;
}

main {
  padding-block: 3rem;
  grid-area: main;
}

footer {
  grid-area: footer;
}

.bg-design {
  &--purple {
    position: absolute;
    z-index: -1;
    background: linear-gradient(
      to left,
      var(--color-gradient-start-primary),
      var(--color-gradient-end-primary)
    );
    width: 40%;
    height: 80%;
    border-radius: 0 0 20rem 0;

    &-light {
      background: var(--color-bg-chat-left);
      transform: rotate(180deg);
      align-self: flex-end;
      justify-self: flex-end;
    }
  }
}

.phone {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: clamp(15rem, calc(15rem + 0.2vw), 18rem);
  background: var(--color-bg-app);
  border-radius: clamp(1.2rem, calc(1.2rem + 0.2vw), 1.5rem);
  overflow: hidden;
  border: 0.5rem solid var(--color-bg-white);
  margin-block-end: 3rem;
  box-shadow: 0 1rem 2rem rgba(41, 31, 31, 0.269),
    inset 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.041);

  &__notch {
    margin-block-start: -1rem;
    margin-block-end: 0.5rem;
    border-radius: 0 0 1rem 1rem;
    justify-self: center;
    width: 70%;
    height: 1.25rem;
    background: var(--color-bg-white);
  }

  .chat {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    &__header {
      background: linear-gradient(
        to bottom left,
        var(--color-gradient-start-primary),
        var(--color-gradient-end-primary)
      );
      border-radius: 0.4rem;
      padding: 1rem;
    }
    &__contact {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__avatar {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin-right: 0.5rem;
        border: 1px solid var(--color-bg-white);
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__name {
        display: inline;
        font-size: var(--font-chat-large);
        color: var(--color-text-white);
      }
      &__description {
        display: inline;
        font-size: var(--font-chat-normal);
        color: var(--color-text-subheading);
      }
    }

    &__message {
      font-size: var(--font-chat-normal);
      border-radius: 0.5rem;
      max-width: 60%;
      padding: 0.5rem;
      margin-block-end: 0.5rem;

      &--received {
        align-self: flex-start;
        color: var(--color-text-chat-left);
        background: var(--color-bg-chat-left);
        border-bottom-left-radius: 0.25rem;
      }
      &--sent {
        align-self: flex-end;
        color: var(--color-text-chat-right);
        background: var(--color-bg-chat-right);
        box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
        border-bottom-right-radius: 0.25rem;
      }
    }

    &__attachments {
      display: flex;
      flex-direction: row;
      align-self: flex-end;

      .chat__images {
        display: block;
        border-radius: 0.5rem;
        width: 2rem;
        margin: 0 0 0.5rem 0.4rem;
      }
    }

    &__purchase-option {
      background: linear-gradient(
        to bottom left,
        var(--color-gradient-start-primary),
        var(--color-gradient-end-primary)
      );
      max-width: 70%;
      color: var(--color-text-subheading);
      font-size: var(--font-chat-normal);
      border-radius: 0.5rem;
      border-bottom-left-radius: 0.25rem;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      margin-block-end: 0.4rem;

      .chat__purchase-input[type="radio"] {
        background: transparent;
      }

      .chat__purchase-price {
        color: var(--color-text-white);
        font-size: var(--font-chat-large);
        font-weight: 700;
        justify-self: flex-end;
        margin-left: auto;
      }
    }

    &__input {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-block-start: 0.5rem;

      input[type="text"] {
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 3rem;
        background-color: var(--color-bg-white);
        color: var(--color-text-chat-right);
        font-size: var(--font-chat-normal);
        outline: none;

        &::placeholder {
          color: var(--color-text-placeholder);
        }
      }
    }

    &__icon {
      width: 1rem;
      height: 1rem;
      fill: white;

      &:hover {
        cursor: pointer;
      }

      &--send-button {
        width: 1.2rem;
        height: 1.2rem;
        background: var(--color-bg-submit-button);
        border-radius: 50%;
        padding: 0.2rem;
        z-index: 2;
        margin-left: -12%;
      }

      &--options {
        margin-left: auto;
      }
    }
  }
}
.main-content {
  justify-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-inline: 2rem;
  max-width: clamp(30ch, calc(30ch + 2vw), 45ch);

  &__heading {
    color: var(--color-text-heading);
    font-size: var(--font-main-large);
    margin-block-end: 1rem;
  }

  &__description {
    color: var(--color-text-paragraph);
    font-size: var(--font-main-normal);
    line-height: 1.7;
  }
}

.attribution {
  text-align: center;
  font-size: 0.5rem;
  color: var(--color-text-paragraph);
  a {
    color: var(--color-text-heading);
    &:hover {
      color: var(--color-text-subheading);
      transition: 150ms ease;
    }
  }
}

//  fix and make the background design a container query

@media screen and (min-width: 45rem) {
  .bg-design {
    &--purple {
      margin-inline-start: -10%;
      border-radius: 0 0 100rem 100rem;

      &-light {
        margin-inline-end: -5%;
      }
    }
  }

  main {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }

  .main-content {
    text-align: left;
  }

  .main-description {
    justify-self: flex-start;
  }
}
